# ---> Go
# Binaries for programs and plugins
*.exe
apisite

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# config files
.env*

# binary dist
dist
